:root{
    --primary-color: #000000;
    --secondary-color: #cfebee;
    --accent-color: #cfebee;
    --utility-color: #333333;
    --background-color: #6a99c5;
    --shadow: #00000062;
}

h1{
    font-stretch: condensed;
    font-weight: 700;
    padding:15px;
    filter:drop-shadow(1px 1px 5px var(--shadow))
}

h2{
    animation: fade-up 500ms;
    font-weight: 700;
    padding: 15px;
    padding-bottom: 0px;
    font-stretch:extra-expanded;
    filter:drop-shadow(1px 1px 5px var(--shadow))
}

h3{
    animation: fade-up 500ms;
    font-weight: 700;
    padding-left: 2em;
    font-stretch: condensed;
    color: var(--utility-color);
}

a{
    color:var(--background-color);
    text-decoration: none;
    font-stretch:condensed;
    font-weight: 500;
}

a:hover{
    color:var(--primary-color);
    text-decoration: none;
    font-stretch:condensed;
    font-weight: 500;
}

p{
    margin:5px;
    padding:5px;
    text-indent: 2em;
}

  iframe{
    width: 100%;
  }

.banner{
    background-color: var(--utility-color);
    min-height: 200px;
    margin: 50px 0px;
    position:relative;
}

.banner-heading{
    position:absolute;
    top:-25px;
    left:15%;
    padding-top:0;
    color:var(--secondary-color);
    filter:drop-shadow(3px 3px 3px var(--shadow));
    background-color: var(--utility-color);
    border-radius: 30px;
}

.banner-content{
    color:var(--accent-color);
    margin-left:0;
    margin-right:0;
    padding-bottom:5px;
}

.banner-image{
    margin-top:50px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5px;
    width:20%;
    display:inline;
    float:none;
}

.banner-image-container{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.banner-image-wide{
    margin-top:50px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5px;
    width:50%;
    display:inline;
    float:none;
}

.condensed{
  margin-left:20%;
  margin-right:20%;
}

.container{
    animation: fade-up 1000ms;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    filter:drop-shadow(10px 10px 10px var(--shadow))
}

.footer{
    color:var(--accent-color)
}


.games-banner-content{
    color:var(--accent-color);
    margin-left:0;
    margin-right:0;
    padding-bottom:5px;
}

.games-banner-image{
    width:100%;
}

.games-banner-image-container{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display:flex;
}

.games-banner-image-tile{
    margin-top:10px;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:5px;
    width:35%;
    display:inline;
    float:none;
}

.games-banner-image-tile p{
    text-indent: 0;
    width:auto;
}

.games-container{
    background-color: var(--utility-color);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top:1px;
    margin-top:10px;
}

.games-capsule{
    position:relative;
    padding-top:20px;
    padding-bottom:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.games-capsule img{
    width:100%;
    opacity: 40%;
    background-color: #000000;
}

.games-post{
    margin-left:5%;
    margin-right:5%;
}

.games-capsule-text-head{
    position:absolute;
    left:20px;
    top:10px;
    color: var(--accent-color);
}

.games-capsule-text-head h3{
    color:var(--secondary-color);
}

.games-capsule-text-foot{
    position:absolute;
    left:20px;
    bottom:20px;
    color: var(--accent-color);
}

.games-capsule-text-foot h3{
    color:var(--secondary-color);
}

.header{
    color:var(--primary-color);
}

.headerTable div{
    display: flex;
    justify-content: center;
    font-size:20px;
}

.image{
    animation: fade-up 1000ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    padding: 20px;
    border-radius: 1000px;
    filter:drop-shadow(10px 10px 10px var(--shadow))
}

.image-tile{
    border-radius: 10px;
    margin: auto;
    width: 90%;
    
    overflow: hidden;

    position:relative;
}

.image-tile-contained{
    object-fit:contain;
    width:100%;
    scale: 1.1;

    position:relative;
}

.image-tile-contained:hover{
    animation: grow 250ms forwards;
}

.main{
    color:var(--primary-color);
    background-color: var(--background-color);
    padding-bottom: 70px;
}

.mainFooter{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
}

.mainHeader{
    text-align: center;
    padding-bottom:15px;
    background-color: var(--secondary-color);
}

.post{
    animation: fade-up 1000ms;
    margin: 5%;
}

.post-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
}

.post-container{
    animation: fade-up 1000ms;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding-bottom: 20px;
    filter:drop-shadow(10px 10px 10px var(--shadow))
}

.post-container p{
    color:var(--primary-color);
}

.post-container ul{
    color:var(--primary-color);
}

.post-contributions{
    list-style-position: inside;
    text-align: center;
}

.table{
    margin:15px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size:20px;
    background-color: var(--background-color);
    border-radius: 15px;
    filter:drop-shadow(3px 3px 3px var(--shadow));
    color: var(--secondary-color);
}

.tile {
  align-items: center;
  animation: fade-up 1000ms;
  flex-basis: 50%;
  flex-shrink: 0;
  padding: 0px;
  filter:drop-shadow(10px 10px 10px var(--shadow));
}

.tile-content{
  width:100%;
  position:relative;
  text-align: center;
      
  margin:10px;
}

.tile-text{
  position:absolute;
  color:var(--accent-color);
  font-size:36pt;
  bottom:8px;
  font-weight: 600;
  left:52px;
  pointer-events: none;
  filter:drop-shadow(3px 3px 2px var(--shadow));
}

.tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    aspect-ratio: 1280/720;
}

@media screen and (max-aspect-ratio: 1){
  .tile{
      flex-basis: 100%;
  }

  .condensed{
      margin-left:5%;
      margin-right:5%;
  }

  .image{
      width:35%;
  }
}

@keyframes grow{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.2);
    }
}

@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

* {
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
